* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: navajowhite;
    outline: none;
}
body {
    background-color: #ddd;
    font-size: 16px;
    max-width: 1440px;
    padding-top: 20px;
    font-family: "Rubik";
    height: 900px;
   

}

/*workink with container*/
#container {
  height: 600px;
  
   width: 80%;
   /*position: relative;*/
   background-color: hsl(0, 0%, 100%);
   margin-right: auto;
   margin-left: auto;
   display: flex; 
}
@media screen and (max-width: 375px)  {
    #container {
        display: block;
        width: auto;
        height: 750px;
      
     
    }
}
   
#container #parent-of-empty {
    width: 150px;
    height: 450px;
    
}
#container #parent-of-empty #empty {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 0 0 100% 0;
}

#container #content-container {
    position: relative;
    width: 100%
}


#container #content-container #content {
    position: relative;
}
@media screen and (max-width: 375px){
    #container #content-container, #container #content-container #content{
        position: absolute;
        top: 30px;
        left: 30px;
        width: 100%;
    }
}
#container #content-container #content #phone {
    position: relative;
    top: 30px;
    left: -100px;
    background-color: hsl(0, 0%, 100%);
    padding: 8px;
    border-radius: 10px;
    width: 250px;

}

@media screen and (max-width: 375px){
    #container #content-container #content #phone{
        position: unset;
        top: unset;
        left: unset;
       
       
    }
}
#container #content-container #content #phone .phone-top {
    background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    position: relative;
    border-radius: 10px 10px 3px 3px;
    
}
#container #content-container #content #phone .white {
    width: 70%;
    height: 10px;
    background-color: hsl(0, 0%, 100%);
    position: relative;
    top: -5px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

}
#container #content-container #content #phone .person {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container #content-container #content #phone .person .prev {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    color: hsl(0, 0%, 100%);
}
#container #content-container #content #phone .person .profile {
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#container #content-container #content #phone .person .profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 3px;
    
}
#container #content-container #content #phone .person .personel-inf {
    margin-left: 5px;
}
#container #content-container #content #phone .person .personel-inf h3 {
    color: hsl(0, 0%, 100%);
}
#container #content-container #content #phone .person .personel-inf p {
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    font-weight: 500;
}

#container #content-container #content #phone .person span.btn {
    color: hsl(0, 0%, 100%);
    position: absolute;
    right: 5px;
}
#container #content-container #content #phone .descussion {
    background-color: #ddd;
    padding: 5px;
    border-radius:0 0 10px 10px;
}
#container #content-container #content #phone .descussion .left p {
    background-color: hsl(270, 20%, 96%);
    color: hsl(276, 55%, 52%);
    margin: 8px;
    padding: 8px;
    border-radius: 15px;
    width: 80%;
    font-size: 12px;
    font-weight: 400;
}
#container #content-container #content #phone .descussion .left p.price {
    background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    color: hsl(0, 0%, 100%);
}

#container #content-container #content #phone .descussion .left p.price .bold {
    font-size: 13px;
    font-weight: 700;
}
#container #content-container #content #phone .descussion .right {
    overflow: auto;
    text-align: right;
}
#container #content-container #content #phone .descussion .right .images {
   text-align: right;
   padding: 8px;
}
#container #content-container #content #phone .descussion .right .images img{
    width: 32px;
    height: 32px;
    margin-right: 4px;
    border-radius: 3px;
}
#container #content-container #content #phone .descussion .right p {
    float: right;
    background-color: hsl(0, 0%, 100%);
    width: 80%;
    color: hsl(271, 36%, 24%);
    margin: 8px;
    padding: 6px;
    font-size: 12px;
    border-radius: 15px;
    text-align: left;
}
.clear {
    clear: both;
}
#container #content-container #content #phone .descussion .message {
    position: relative;
}
#container #content-container #content #phone .descussion .message input {
    padding: 8px;
    margin: 8px;
    width: 90%;
    border-radius: 15px;
    border: none;
    background-color: hsl(0, 0%, 100%);
}
#container #content-container #content #phone .descussion .message .send-message {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 15px;
    background-color: hsl(240, 4%, 10%);
    color: hsl(270, 20%, 96%);
    padding: 3px;
    border-radius: 50%;
    bottom: 15px;
    right: 25px;
    cursor: pointer;

}
/*description*/

/*add to fix*/
#container #content-container #content #phone, #container #content-container #content #description {
    display: inline-block;
}
@media screen and (max-width: 375px){
    #container #content-container #content #phone {
        display: block;
    }
}
#container #content-container #content #description {
    position: absolute;
    top: 50%;
    width: 60%;
    margin-left: -60px;
}
@media screen and (max-width: 375px){
    #container #content-container #content #description {
        display: block;
        position: unset;
        top: unset;
        right: unset;
        text-align: center;
        background-color: hsl(0, 0%, 100%);
        width: 300px;
        margin-top: 10px;
        margin-left: 0;
    }
}
#description h1 {
    text-align: left;
    font-weight: 700;
    font-size: 22px;
    color: hsl(271, 36%, 24%);
    margin-bottom: 20px;
}
#description p {
    font-weight: 500;
    font-size: 13px;
    color: hsl(270, 7%, 64%);
    text-align: left;
    width: 100%;
    
}
@media screen and (max-width: 375px){
    #description p, #description h1 {
        text-align: center;
        margin-left: -20px;
    }
}
footer {
    margin-top: 15px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }






